extends layout 

block content 
  h1=title

  form(action="/notes/create" method="post") 
    input(name="title" placeholder="Titre de votre note")
    br
    textarea(name="content", cols="30", rows="10",  placeholder="Saisissez votre note ...")
    br
    button(type="submit") Enregistrer